.rows-per-page {
  margin-right: 0.5rem;
}

.checkins-table {
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  background-color: white;
  padding: 0;
  text-align: left;
  border-collapse: collapse;
  border-radius: 0.3rem;
  overflow: hidden;
}

.checkins-table thead {
  background-color: #150958;
  color: white;
}

.checkins-table thead th {
  padding: 1rem 0.5rem;
}
.checkins-table tbody tr td {
  padding: 0.3rem 0.5rem;
  border-bottom: 1px solid #e6e5e5;
}
.checkins-table thead tr th:first-child,
.checkins-table tbody tr td:first-child {
  min-width: 10rem;
}
.checkins-table thead tr th:nth-child(2),
.checkins-table tbody tr td:nth-child(2) {
  max-width: 3.2rem;
  text-align: left;
}
.checkins-table thead tr th:nth-child(3),
.checkins-table tbody tr td:nth-child(3),
.checkins-table thead tr th:nth-child(4),
.checkins-table tbody tr td:nth-child(4) {
  max-width: 3.2rem;
  text-align: center;
}
.checkins-table thead tr th:last-child,
.checkins-table tbody tr td:last-child {
  text-align: right;
  max-width: 5rem;
}

@media (max-width: 700px) {
  .checkins-table thead tr th:first-child,
  .checkins-table tbody tr td:first-child {
    min-width: auto;
    max-width: 5rem;
  }
}
