.flex{
  display: flex;
  align-items: center;
}

.container{
  max-width: 980px;
  margin: 0 auto;
}

select{
  padding: 0.3rem 0.7rem;
  text-align: left;
  font-size: 0.9rem;
  background-color: #F6F6F6;
  border: none;
  border-radius: 0.3rem;
  outline: none;
}
.select_perPage{
  background-color: white;
}


.shadow{
  box-shadow: 0px 6px 20px rgba(45, 45, 45, 0.4);
}

@media (max-width: 700px) {
  .hide_on_mobile {
    display: none;
  }
}

@media (max-width: 1024px) {
  .container{
    margin: 0 1.1rem;
  }
}

.Pagination{
  display: flex;
  justify-content: space-between;
  background-color: white;

  padding: 0.8rem;
  border-radius: 0.3rem;
}
.Pagination__total,
.Pagination__buttons{
  display: flex;
  gap: 1rem;
}
.Pagination__buttons:hover{
  cursor: pointer;
}

.Pagination__buttons .disabled{
display: none;
}
.Pagination:hover{
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
