.main_nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.main_nav__element, .logoutButton {
  list-style: none;
  font-size: 1.25rem;
}
.logoutButton:hover{
  cursor: pointer;
}
.main_nav__element a {
  text-decoration: none;
  color: white;
  padding: 0.3rem;
}

.active,
.main_nav__element a:hover,
.main_nav__element a:active {
  font-weight: 600;
  border-bottom: 0.3rem white solid;
}

@media (max-width: 700px) {
  .main_nav_wrapper, .main_nav {
    display: none;
  }
}
